<div class="header">Cart</div>
<div class="content">
  <table class="table table-colored">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>author</th>
      <th>price</th>
      <th>quantity</th>
      <th>total price</th>
    </tr>

    <%for(var i = 0, max = model.length; i < max; i++){%>
    <%var product = model[i];%>
    <tr>
      <td><a href="#/detail/<%=product.book.id%>"><%=product.book.id%></a></td>
      <td><%=product.book.name%></td>
      <td><%=product.book.author%></td>
      <td class="text-right"><%=product.book.price%> &euro;</td>
      <td class="text-right"><%=product.quantity%></td>
      <td class="text-right"><%=product.total%> &euro;</td>
    </tr>
    <% } %>
  </table>
</div>
