<div class="header">BookDetail</div>
<div class="content">
  <div data-show="book">
    <h1><span data-model="book.name"></span></h1>
    <div class="row">
      <div class="col col-1">id:</div>
      <div class="col col-2"><span data-model="book.id"></span></div>
    </div>
    <div class="row">
      <div class="col col-1">author:</div>
      <div class="col col-2"><span data-model="book.author"></span></div>
    </div>
    <div class="row">
      <div class="col col-1">price:</div>
      <div class="col col-2"><span data-model="book.price"></span> &euro;</div>
    </div>
    <div class="row">
      <div class="col col-1">quantity:</div>
      <div class="col col-1"><input data-model="quantity" class="input quantity" type="number" min="1" max="9" /></div>
      <div class="col col-1"><button class="btn btn-primary add-to-cart">Add</button></div>
    </div>
  </div>
  <div data-hide="book">
    <p>Book not found!</p>
  </div>
</div>
