<div class="header">BookList</div>
<div class="content">
  <table class="table table-colored">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>author</th>
      <th>price</th>
    </tr>

    <%for(var i = 0, max = model.length; i < max; i++){%>
    <%var book = {};%>
    <%book = model[i];%>
    <tr>
      <td><a href="#/detail/<%=book.id%>"><%=book.id%></a></td>
      <td><%=book.name%></td>
      <td><%=book.author%></td>
      <td class="text-right"><%=book.price%> &euro;</td>
    </tr>
    <% } %>
  </table>
</div>
