body>.header, body>.main, body>.footer {
  border: 1px red solid;
  margin-bottom: 5px;
  min-height: 50px;
}

body>.main .tests {
  border: 1px #00F dashed;
  background-color: #FBFEAE;
  margin: 5px;
  padding: 10px;
  min-height: 50px;
}

body>.main .page {
  display: none;
}
