@import 'style';
/* Text */
body {
  color: $default-color;
  font-family: $default-text;
}

.text-default {
  color: $default-color;
}

.text-primary {
  color: $primary-color;
}

.text-accept {
  color: $accept-color;
}

.text-cancel {
  color: $cancel-color;
}

.text-right {
  text-align: right;
}
