$default-default: #AAA;
$default-active: #CCC;
$default-color: #555;
$default-text: Verdana;
$default-border: 1px solid;
$default-border-radius: 5px;
$default-hover: #FFFDBF;

$primary-default: #00F;
$primary-active: #AAF;
$primary-color: #00A;

$accept-default: #0F0;
$accept-active: #AFA;
$accept-color: #0A0;

$cancel-default: #F00;
$cancel-active: #FAA;
$cancel-color: #A00;

$grid-max-columns: 4;

@mixin element-defaults() {
  border: $default-border;
  border-radius: $default-border-radius;
  padding: 7px;
}
