@import 'style';
/* Table */
.table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}

.table tr {
  border: $default-border $default-color;
}

.table.table-colored tr:nth-child(odd) td,
.table.table-colored.table-default tr:nth-child(odd) td {
  background-color: $default-active;
}

.table.table-colored.table-primary tr:nth-child(odd) td {
  background-color: $primary-active;
}

.table.table-colored.table-accept tr:nth-child(odd) td {
  background-color: $accept-active;
}

.table.table-colored.table-cancel tr:nth-child(odd) td {
  background-color: $cancel-active;
}

.table.table-hover tr:hover td {
  background-color: $default-hover;
}
