@import 'style';
/* Grid */
.row {
  display: block;
}

.row .col {
  display: inline-block;
}

@for $i from 1 through $grid-max-columns {
  .row .col.col-#{$i} {
    width: percentage(((100 / $grid-max-columns * $i) - 1) / 100);
  }
}
