@import 'style';
/* Buttons */
.btn {
  @include element-defaults();
  font-weight: bolder;
  box-shadow: 2px 2px 2px #333;
  color: #FFF;
}

.btn:active {
  box-shadow: 0 0 0 #333;
}

.btn.btn-default {
  background-color: $default-default;
  border-color: $default-color;
}

.btn.btn-default:hover,
.btn.btn-default:active {
  background-color: $default-active;
}

.btn.btn-primary {
  background-color: $primary-default;
  border-color: $primary-color;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color: $primary-active;
}

.btn.btn-accept {
  background-color: $accept-default;
  border-color: $accept-color;
}

.btn.btn-accept:hover,
.btn.btn-accept:active {
  background-color: $accept-active;
}

.btn.btn-cancel {
  background-color: $cancel-default;
  border-color: $cancel-color;
}

.btn.btn-cancel:hover,
.btn.btn-cancel:active {
  background-color: $cancel-active;
}
