@import 'style';
/* Input */
.input {
  @include element-defaults();
  color: $default-color;
}

.input:hover {
  background-color: $default-hover;
}

.input.input-default {
  background-color: $default-active;
  border-color: $default-color;
}

.input.input-primary {
  background-color: $primary-active;
  border-color: $primary-color;
}

.input.input-accept {
  background-color: $accept-active;
  border-color: $accept-color;
}

.input.input-cancel {
  background-color: $cancel-active;
  border-color: $cancel-color;
}
